<div class="form">
    <form action="" [formGroup]="project" (ngSubmit)="submitdata()">
        @if (isEdit) {
        <p>edit project </p>
        }@else {
        <p>add project </p>
        }
        <div class="employee-form">
            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>clientName</mat-label>
                        <input type="text" matInput name="clientName" placeholder="Enter Your clientName"
                            formControlName="clientName">
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>projectName</mat-label>
                        <input type="text" matInput name="projectName" placeholder="Enter Your projectName"
                            formControlName="projectName">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>clientRegion</mat-label>
                        <input type="text" matInput name="clientRegion" formControlName="clientRegion">
                    </mat-form-field>
                </div>

                <!-- <mat-form-field appearance="outline">
                    <mat-label>updatedBy</mat-label>
                    <input type="text" matInput name="updatedBy" formControlName="updatedBy">
                </mat-form-field> -->
            </div>

            <!-- <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Updated Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="updatedDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Created By</mat-label>
                    <input type="text" matInput name="createdBy" formControlName="createdBy">
                </mat-form-field>

            </div> -->

            <!-- <div class="row">`
                <mat-form-field appearance="outline">
                    <mat-label>createdDate</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="createdDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>description</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="description">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
            </div> -->

            <div class="row">
                <div class="col-xl-6">
                    <mat-checkbox formControlName="isActive">Active</mat-checkbox>
                </div>
            </div>


            @if(isEdit){
            <div class="button-btn" mat-dialog-actions>
                <button mat-flat-button class="edit-btn">update</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false">cancel</button>
            </div>
            }@else {
            <div class="button-btn">
                <button mat-flat-button class="edit-btn" routerLink="createdDate">add</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false">cancel</button>
            </div>
            }


        </div>
    </form>
</div>