################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hrms-web-app/.vs/hrms-web-app/FileContentIndex
/hrms-web-app/.vs
