<div class="form">
    <form action="" [formGroup]="passportinfo" (ngSubmit)="submitpassportinfo()">

        <p>Passport Information</p>

        <div class="row">
            <div class="col-xl-6">
                <mat-form-field appearance="outline">
                    <mat-label>Passport Number</mat-label>
                    <input type="text" matInput name="passportNumber" placeholder="Enter Passport Number"
                        formControlName="passportNumber">
                </mat-form-field>
            </div>

            <div class="col-xl-6">
                <mat-form-field appearance="outline">
                    <mat-label>Country of Issue</mat-label>
                    <input type="text" matInput name="countryOfIssue" placeholder="Enter Country of Issue"
                        formControlName="nationality">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6">
                <mat-form-field appearance="outline">
                    <mat-label>Date of Issue</mat-label>
                    <input type="date" matInput name="dateOfIssue" formControlName="passportIssueDate">
                </mat-form-field>
            </div>

            <div class="col-xl-6">
                <mat-form-field appearance="outline">
                    <mat-label>Date of Expiry</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- <mat-form-field appearance="outline"> -->
                <!-- <mat-label>passport ScanCopy</mat-label> -->
                <input type="file" #fileInput name="passportScanCopy" formControlName="passportScanCopy"
                    (change)="onFileChange()" accept=".pdf,.jpg,.jpeg,.png">
                <!-- </mat-form-field> -->

            </div>
        </div>
        <div class="button-btn mt-4" mat-dialog-actions>
            <button mat-flat-button class="edit-btn" style="border-radius: 0;">Submit</button>
        </div>

    </form>
</div>