mat-toolbar {
  background: linear-gradient(90deg, #1E72C2, #015BB1);
  color: white;
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
  // padding: 0 2rem;
}

.header-item {
  background: transparent;
  border: 0;
  outline: none;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

::ng-deep .custom-menu {
  background-color: white !important;
}

::ng-deep .custom-menu .mat-menu-item {
  font-size: 16px;
  font-weight: bold;
  color: #f6f2f2 !important;
}