<div class="container-flued" style="background:#dee3e426; height: 100vh;">
    <div class="row">
        <div class="col">
            <div class="table-menu">
                <div class="table-title">
                    <h2>Employee Document</h2>
                </div>
                <!-- <div class="table-btn">
                    <button mat-flat-button (click)="openAddForm()" style="border-radius: 0;">add </button>
                </div> -->
            </div>
        </div>
    </div>

    <div class="document">
        <div class="row">
            <div class="col-xl-3">
                <!-- <div class="left-panel">
                    <h5>Employee Documents Folders</h5>
                    <ul>
                        <li *ngFor="let doc of documents" (click)="viewDocument(doc.id)"
                            [class.active]="selectedDocument === doc.filePath">
                            {{doc.documentName }}
                        </li>
                    </ul>
                </div> -->
                <mat-card class="document-card">
                    <h5 style="text-transform: uppercase; font-size: 1rem; padding: 1rem;">Employee Document Folders
                    </h5>
                    <mat-divider></mat-divider>
                    <mat-list>
                        <mat-list-item *ngFor="let doc of documents" (click)="viewDocument(doc.id)"
                            [class.active]="selectedDocument === doc.filePath">
                            {{doc.documentName }}
                        </mat-list-item>
                    </mat-list>
                </mat-card>
            </div>
            <div class="col-xl-9">
                <div class="right-panel">
                    <!-- <h3>Preview</h3> -->
                    <div *ngIf="selectedDocument">
                        <iframe [src]="selectedDocument" ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="hero-img">
                <div class="data">
                    <!-- <ag-grid-angular style=" width: 100%; border: 0;" [rowData]="rowData"
                        class="ag-theme-quartz"  /> -->
                </div>
            </div>
        </div>
    </div>

</div>