// .hero-img {
//     background-image: url("/src/assets/images/download.jpg");
//     background-position: center;
//     background-size: cover;
//     height: 100vh;
//     width: 100%;
// }

.button-icon button{
    background-color: brown;
}
.table-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 15px;
}