@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


mat-drawer-container {
    height: 100vh;
}

// mat-drawer {
//     // width: 250px;
//     background-color: #4fa6d5;
//     color: white;
//     position: fixed;
//     border-radius: 0;
// }

::ng-deep .ag-theme-quartz .ag-paging-panel {
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: 8px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    ::ng-deep .ag-theme-quartz .ag-paging-panel {
        font-size: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }
}