button {
    border: none;
    outline: none;
    background: transparent;
    padding-top: 5px;

}

.button {
    gap: 0.5rem;
    display: flex;
    padding-top: 0.4rem;
}

// }
.edit {
    color: green;
    font-size: 15px;
    /* border-radius: 10px; */
    height: 30px;
    width: 30px;
    // background: #0000ff30;
    background: rgb(0 0 255 / 11%);

    &:hover {
        background:green;
        transition: 0.5s ease;
        color: white;
    }
}

.delete {
    color: red;
    font-size: 15px;
    /* border-radius: 10px; */
    height: 30px;
    width: 30px;
    // background: rgb(255 0 0 / 19%);
    background: rgb(255 0 0 / 11%);

    &:hover {
        background: red;
        transition: 0.5s ease;
        color: white;
    }
}

mat-icon {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}