<div class="form">
    <form action="" [formGroup]="CandidateForm" (ngSubmit)="submitdata()">
        @if (isEdit) {
        <p>edit candidate</p>
        }@else {
        <p>add candidate</p>
        }

        <div class="employee-form">
            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>first name</mat-label>
                        <input type="text" matInput name="firstName" placeholder="Enter Your FirstName"
                            formControlName="firstName">
                            <mat-error *ngIf="getControl('firstName')?.hasError('required')">FirstName Is
                                Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>last name</mat-label>
                        <input type="text" matInput name="lastName" placeholder="Enter Your LastName"
                            formControlName="lastName">
                            <mat-error *ngIf="getControl('lastName')?.hasError('required')">lastName Is
                                Required</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>email</mat-label>
                        <input type="text" matInput name="emailAddress" placeholder="Enter Your Email"
                            formControlName="emailAddress">
                            <mat-error *ngIf="getControl('emailAddress')?.hasError('required')">email Is
                                Required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>phone no</mat-label>
                        <input type="text" matInput name="mobileNumber" placeholder="Enter Your PhoneNo"
                            formControlName="mobileNumber" maxlength="10">
                            <mat-error *ngIf="getControl('mobileNumber')?.hasError('required')">Must be 10 digits</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>totalExperience</mat-label>
                        <input type="text" matInput name="totalExperience" placeholder="Enter Your TotalExperience"
                            formControlName="totalExperience">
                            <mat-error *ngIf="getControl('totalExperience')?.hasError('required')">totalExperience Is
                                Required</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>relevantExperience</mat-label>
                        <input type="text" matInput name="RelevantExperience"
                            placeholder="Enter Your RelevantExperience" formControlName="relevantExperience">
                            <mat-error *ngIf="getControl('relevantExperience')?.hasError('required')">relevantExperience Is
                                Required</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>currentSalary</mat-label>
                        <input type="text" matInput name="currentSalary" placeholder="Enter Your CurrentSalary"
                            formControlName="currentSalary">
                            <mat-error *ngIf="getControl('currentSalary')?.hasError('required')">currentSalary Is
                                Required</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>noticePeriod</mat-label>
                        <mat-select formControlName="noticePeriod" [(value)]="numbermenu">
                            <mat-option *ngFor="let number of numbers" [value]="number"> {{number}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class=" row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>expected Salary</mat-label>
                        <input type="number" matInput name="expectedSalary" placeholder="Enter Your Expected Salary"
                            formControlName="expectedSalary">
                            <mat-error *ngIf="getControl('expectedSalary')?.hasError('required')">expectedSalary Is
                                Required</mat-error>
                    </mat-form-field>
                    <mat-checkbox formControlName="isActive">Active</mat-checkbox>
                </div>
            </div>

            @if(isEdit){
            <div class="button-btn" mat-dialog-actions>
                <button mat-flat-button class="edit-btn">update</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false">cancel</button>
            </div>
            }@else {
            <div class="button-btn">
                <button mat-flat-button class="edit-btn" routerLink="createdDate">add</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false">cancel</button>
            </div>
            }

        </div>
    </form>
</div>