.form {
    padding: 1rem;
    text-align: center;
}

img.user-image {
    height: 9rem;
    border-radius: 50%;
    width: 9rem;
    border: 7px solid lightgray;
}

button.edit-btnimg {
    position: absolute;
    transform: translate(50%, -20%);
    border: none;
    border-radius: 50%;
    top: 0%;
    right: 40%;
}

.image-container {
    position: relative;
}

p {
    font-size: 2rem;
    font-weight: 700;
}

.row {
    mat-form-field {
        width: 100%;

        mat-label {
            text-transform: capitalize;
        }
    }
}

mat-icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: blue;
}