<div class="form">
    <form action="" [formGroup]="designation" (ngSubmit)="submitdata()">
        @if (isEdit) {
        <p>edit designation</p>
        }@else {
        <p>add designation</p>
        }
        <div class="employee-form">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Designation Name</mat-label>
                        <input type="text" matInput name="DesignationName" placeholder="Enter Designation Name" (keypress)="allowOnlyLetters($event)" 
                            formControlName="designationName">
                    </mat-form-field>
                </div>
            </div>
            

            <div class="row">
                <div class="col-xl-6">
                    <mat-checkbox formControlName="isActive">Active</mat-checkbox>
                </div>
            </div>


            @if(isEdit){
            <div class="button-btn" mat-dialog-actions>
                <button mat-flat-button class="edit-btn"  style="border-radius: 0;">update</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false"  style="border-radius: 0;">cancel</button>
            </div>
            }@else {
            <div class="button-btn">
                <button mat-flat-button class="edit-btn" routerLink="createdDate"  style="border-radius: 0;">add</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false"  style="border-radius: 0;">cancel</button>
            </div>
            }


        </div>
    </form>
</div>