<div class="form">
    <form action="" [formGroup]="shiftForm" (ngSubmit)="submitdata()">
        @if (isEdit) {
        <p>edit shift</p>
        }@else {
        <p>add shift</p>
        }

        <div class="employee-form">
            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>shift Name</mat-label>
                        <input type="text" matInput name="shiftName" placeholder="Enter shiftName"
                            formControlName="shiftName">
                        <mat-error *ngIf="getControl('shiftName')?.hasError('required')">ShiftName Is
                                Required</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>start Time</mat-label>
                        <input type="text" matInput name="startTime" placeholder="Enter startTime"
                            formControlName="startTime">
                        <mat-error *ngIf="getControl('startTime')?.hasError('required')">StartTime Is
                                Required</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>end Time</mat-label>
                        <input type="text" matInput name="endTime" placeholder="Enter endTime"
                            formControlName="endTime">
                        <mat-error *ngIf="getControl('endTime')?.hasError('required')">EndTime Is
                                Required</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <mat-checkbox formControlName="isActive">Active</mat-checkbox>
                </div>
            </div>

            @if(isEdit){
            <div class="button-btn" mat-dialog-actions>
                <button mat-flat-button class="edit-btn">update</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false">cancel</button>
            </div>
            }@else {
            <div class="button-btn">
                <button mat-flat-button class="edit-btn" routerLink="createdDate">add</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false">cancel</button>
            </div>
            }

        </div>
    </form>
</div>