<div class="form">
    <form action="" [formGroup]="experienceForm" (ngSubmit)="submitExperience()">
        <p>Experience Details</p>

        <mat-card>
            <p class="contactt">Company Information 1</p>
            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Company Name</mat-label>
                        <input type="text" matInput name="companyName" placeholder="Enter Company Name" formControlName="companyName">
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Position</mat-label>
                        <input type="text" matInput name="jobTitle" placeholder="Enter Position" formControlName="designation">
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Location</mat-label>
                        <input type="text" matInput name="jobLocation" placeholder="Enter Location" formControlName="experienceLocation">
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Responsibilities</mat-label>
                        <input type="text" matInput name="jobResponsibilities" placeholder="Enter Responsibilities" formControlName="responsibilities">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="experienceStartDate" (dateChange)="calculateExperienceDuration()">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="experienceEndDate" (dateChange)="calculateExperienceDuration()">
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>

        <mat-card>
            <p class="contactt">Company Information 2</p>
            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Company Name</mat-label>
                        <input type="text" matInput name="companyName" placeholder="Enter Company Name">
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Position</mat-label>
                        <input type="text" matInput name="jobTitle" placeholder="Enter Position">
                    </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Location</mat-label>
                        <input type="text" matInput name="jobLocation" placeholder="Enter Location" formControlName="experienceLocation">
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Responsibilities</mat-label>
                        <input type="text" matInput name="jobResponsibilities" placeholder="Enter Responsibilities" formControlName="responsibilities">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                      <input matInput [matDatepicker]="picker2">
                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>End Date</mat-label>
                       <input matInput [matDatepicker]="picker3">
                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>


        <mat-card>
            <p class="contactt">Company Information 3</p>
            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Company Name</mat-label>
                        <input type="text" matInput name="companyName" placeholder="Enter Company Name">
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Position</mat-label>
                        <input type="text" matInput name="jobTitle" placeholder="Enter Position">
                    </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Location</mat-label>
                        <input type="text" matInput name="jobLocation" placeholder="Enter Location" formControlName="experienceLocation">
                    </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Responsibilities</mat-label>
                        <input type="text" matInput name="jobResponsibilities" placeholder="Enter Responsibilities" formControlName="responsibilities">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="picker4">
                        <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="picker5">
                        <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
                        <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>

        <div class="button-btn mt-4" mat-dialog-actions>
            <button mat-flat-button class="edit-btn" style="border-radius: 0;">Submit</button>
        </div>
    </form>
</div>