// * {
//     overflow: hidden;
// }

.aatend-form{
    padding: 2rem 3rem;
}

.full-width {
    width: 100%;
}

.logs-section {
    margin-top: 10px;
}

.log-entry {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    padding-top: 2rem;
}
p{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;   
}