<!-- Employee Form Container -->
<div class="form">
    <!-- Form for adding or editing an employee -->
    <form action="" [formGroup]="Employeeform" (ngSubmit)="submitdata()">
        <!-- Conditional heading: If editing, show 'Edit Employee'; otherwise, show 'Add Employee' -->
        @if (isEdit) {
        <p>edit employee </p>
        }@else {
        <p>add employee </p>
        }

        <!-- Employee form fields -->
        <div class="employee-form">
            <!-- Row for First Name & Last Name -->
            <div class="row">
                <!-- First Name Field -->
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>first name</mat-label>
                        <input type="text" matInput name="firstName" placeholder="Enter FirstName"
                            (keypress)="allowOnlyLetters($event)" formControlName="firstName">
                    </mat-form-field>
                </div>

                <!-- Last Name Field -->
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>last name</mat-label>
                        <input type="text" matInput name="lastName" placeholder="Enter LastName"
                            (keypress)="allowOnlyLetters($event)" formControlName="lastName">
                    </mat-form-field>
                </div>
            </div>

            <!-- Row for Email Address -->
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>email</mat-label>
                        <input type="text" matInput name="emailAddress" placeholder="Enter Email"
                            formControlName="emailAddress">

                    </mat-form-field>
                </div>
            </div>

            <!-- Row for Joining Date & Phone Number -->

            <div class="row">
                <div class="col-xl-6">
                    <!-- Joining Date Field -->
                    <mat-form-field appearance="outline">
                        <mat-label>joining date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dateOfJoining">
                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-- Phone Number Field -->
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>phoneNo</mat-label>
                        <input type="text" matInput name="mobileNumber" placeholder="Enter PhoneNo"
                            (keypress)="allowOnlyNumbers($event)" formControlName="mobileNumber" maxlength="10">

                    </mat-form-field>
                </div>
            </div>

            <!-- Row for Permanent & Current Address -->
            <div class="row">
                <div class="col-xl-6">
                    <!-- Permanent Address Field -->
                    <mat-form-field appearance="outline">
                        <mat-label>permanent Address</mat-label>
                        <input type="text" matInput name="permanent Address" placeholder="Permanet Address"
                            formControlName="permanentAddress">
                    </mat-form-field>
                </div>

                <div class="col-xl-6">
                    <!-- Current Address Field -->
                    <mat-form-field appearance="outline">
                        <mat-label>current Address</mat-label>
                        <input type="text" matInput name="current Address" placeholder="Current Address"
                            formControlName="currentAddress">
                    </mat-form-field>
                </div>
            </div>

            <!-- Row for Gender Selection  -->
            <!-- Row for Gender Selection  -->
            <!-- Row for Gender Selection  -->
            <div class="row">
                <div class="col">
                    <!-- Gender Selection -->
                    <mat-radio-group formControlName="gender">
                        <mat-label><b>Gender</b></mat-label>
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                    </mat-radio-group>

                    <!-- Active Status Checkbox -->
                    <mat-checkbox formControlName="isActive">Active</mat-checkbox>
                </div>

                <!-- Role Selection Dropdown -->
                <mat-form-field appearance="outline">
                    <mat-label>role</mat-label>
                    <mat-select formControlName="roleIds" multiple>
                        <mat-option *ngFor="let role of roles" [value]="role.id"> {{ role.roleName }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Manager</mat-label>
                        <mat-select formControlName="managerId">
                            <mat-option *ngFor="let manager of managers" [value]="manager.id"> {{
                                manager.managerName}}</mat-option>
                            <mat-option *ngFor="let manager of managers" [value]="manager.id"> {{
                                manager.managerName}}</mat-option>
                            <mat-option *ngFor="let manager of managers" [value]="manager.id"> {{
                                manager.managerName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <!-- Buttons: Save, Update, or Cancel -->
            @if(isEdit){
            <!-- Edit Mode: Update and Cancel Buttons -->
            <div class="button-btn" mat-dialog-actions>
                <button mat-flat-button class="edit-btn" style="border-radius: 0;">update</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false"
                    style="border-radius: 0;">cancel</button>
                <button mat-flat-button class="edit-btn" style="border-radius: 0;">update</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false"
                    style="border-radius: 0;">cancel</button>
            </div>
            }@else {
            <!-- Add Mode: Add and Cancel Buttons -->
            <div class="button-btn">
                <button mat-flat-button class="edit-btn" routerLink="createdDate" style="border-radius: 0;">add</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false"
                    style="border-radius: 0;">cancel</button>
                <button mat-flat-button class="edit-btn" routerLink="createdDate" style="border-radius: 0;">add</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false"
                    style="border-radius: 0;">cancel</button>
            </div>
            }


        </div>
    </form>
</div>