<div class="register-img">
    <form [formGroup]="registretion" (ngSubmit)="submit()">
        <p>register</p>
        <div class="register-form">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input type="text" matInput placeholder="Enter Your FirstName" formControlName="FirstName">
                <mat-error *ngIf="getControl('FirstName')?.hasError('required')">First Name Is Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput placeholder="Enter Your LastName" formControlName="LastName">
                <mat-error *ngIf="getControl('FirstName')?.hasError('required')">Last Name Is Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>                            
                <input type="email" matInput placeholder="Enter Your Email" formControlName="email">
                <mat-error *ngIf="getControl('email')?.hasError('required')">Email Is Required</mat-error>
                <mat-error *ngIf="getControl('email')?.hasError('pattern')">Invalid Email Format</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input type="text" matInput placeholder="Enter Your phoneNo" formControlName="mobileNumber" maxLength="10">
                <mat-error *ngIf="getControl('mobileNumber')?.hasError('required')">Must Be 10 Digits</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input type="text" matInput placeholder="Enter Your Address" formControlName="Address">
                <mat-error *ngIf="getControl('Address')?.hasError('required')">Address Is Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Enter Your Password" formControlName="password" maxlength="8">
                <mat-error *ngIf="getControl('password')?.hasError('minlength')">Minimum 8 Characters Required</mat-error>
            </mat-form-field>

            <div class="register-btn">
                <button mat-flat-button>register</button>
            </div>
            <p class="register-info"> Already have an account? <a href="login">login</a></p>
        </div>
    </form>
</div>