form {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 25px #303393;
    // width: 25%;
    padding: 2.5rem;
    border-radius: 0px 90px;
}

.register-form {
    display: grid;
    width: 19.2rem;
}

p {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 24px;
    text-align: center;
}

.register-btn {
    display: flex;
    justify-content: center;
}

.register-btn button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #1E72C2, #015BB1);
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
}

.register-btn button:hover {
    transition: 2s ease;
    box-shadow: 0 12px 25px 5px rgba(0, 0, 0, 0.25);
}

.register-info {
    font-size: 15px;
}


@media only screen and (max-width: 600px) {
    form {
        width: 55%;
        box-shadow: 0 0 0;
    }

    .register-form {
        width: 15.2rem;
    }
}

@media only screen and (max-width: 928px) {
    form {
        width: 55%;
        box-shadow: 3px 3px 25px #303393;
    }
}

@media only screen and (max-width: 1013px) {
    form {
        width: 55%;
        box-shadow: 3px 3px 25px #303393;
    }

    .register-form {
        width: 22.2rem;
    }
}

@media only screen and (max-width: 1469px) {

    .register-form {
        width: 15.2rem;
    }
}