<div class="register-img">
    <form>
        <p>register</p>
        <div class="register-form">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input type="text" matInput placeholder="Enter your First Name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input type="text" matInput placeholder="Enter your Last Name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>email</mat-label>
                <input type="email" matInput placeholder="Enter your Name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>phone</mat-label>
                <input type="number" matInput placeholder="Enter your phone No">
            </mat-form-field>

            <mat-form-field>
                <mat-label>password</mat-label>
                <input type="text" matInput placeholder="Enter your Name">
            </mat-form-field>

            <div class="register-btn">
                <button>register</button>
            </div>

        </div>
    </form>
</div>