.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f6f5fb;
    padding: 20px;

    .forgot-password-card {
        width: 100%;
        max-width: 400px;
        padding: 30px 25px;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
        text-align: center;
        background-color: #fff;

        mat-form-field {
            width: 100%;
        }
    }

    .full-width {
        width: 100%;
        margin-bottom: 20px;
    }

}