<div class="forgot-password-container">
    <mat-card class="forgot-password-card">
        <h2 class="mb-3">Reset your password?</h2>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput placeholder="Enter password"
                    formControlName="password" maxlength="16">
                <button mat-icon-button matPrefix type="button" (click)="togglePasswordVisibility()">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>

            <!-- Hidden email field (auto-filled from query param) -->
            <input type="hidden" formControlName="token" />

            <button mat-flat-button color="primary" class="full-width"  style="border-radius: 0;">
                Reset password
            </button>
        </form>
    </mat-card>
</div>