<div class="forgot-password-container">
    <mat-card class="forgot-password-card">
        <h2>Forgot your password?</h2>
        <p class="subtitle">Enter email address to receive password reset link</p>

        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <mat-icon matPrefix>email</mat-icon>
                <input matInput placeholder="Email" type="email" formControlName="email">
            </mat-form-field>

            <!--  Hidden field for client URL -->
            <input type="hidden" formControlName="ClientUrl" />


            <button mat-flat-button color="primary" class="full-width"  style="border-radius: 0;">
                Reset password
            </button>
        </form>

        <div class="back-to-login">
            <a [routerLink]="['/login']">← Back to Log in</a>
        </div>
    </mat-card>
</div>