<div class="form">
    <form action="" [formGroup]="Holidayform" (ngSubmit)="submitdata()">
        @if (isEdit) {
        <p>Edit Holiday</p>
        }@else {
        <p>Add Holiday </p>
        }
        <div class="holiday-form">
            <div class="row">
                <div class="col-xl-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Holiday Name</mat-label>
                        <input type="text" matInput name="holidayName" placeholder="Enter HolidayName"
                            formControlName="holidayName">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Holiday Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="holidayDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xl-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <!-- <input type="text" matInput name="holidayName" placeholder="Enter Description" 
                        formControlName="description">     -->
                        <textarea matInput name="description" placeholder="Enter Holiday Description"
                            formControlName="description" rows="2"></textarea>
                    </mat-form-field>
                </div>
            </div>


            <div class="row">
                <div class="col-xl-6">
                    <mat-checkbox formControlName="isActive">Active</mat-checkbox>
                </div>
            </div>


            @if(isEdit){
            <div class="button-btn" mat-dialog-actions>
                <button mat-flat-button class="edit-btn" style="border-radius: 0;">Update</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false"
                    style="border-radius: 0;">Cancel</button>
            </div>
            }@else {
            <div class="button-btn">
                <button mat-flat-button class="edit-btn" routerLink="createdDate" style="border-radius: 0;">Add</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false"
                    style="border-radius: 0;">Cancel</button>
            </div>
            }


        </div>
    </form>
</div>