mat-nav-list {
    margin-top: 4rem;

}

mat-divider {
    outline: none;
}

.side-menu {
    display: flex;
    margin-left: 1rem;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 500;
}

.side-menu:hover {
    border-radius: 50px;
    // border: 1px solid #4fa6d5;
    // padding: 0;
    background-color: #3b799b;
    color: white;
    width: 50%;
    transition: 1s ease;
}

.side-menu .item {
    display: flex;
    font-size: 15px;
    padding: 5px;

}

.side-menu .item mat-icon {
    font-size: 20px;
    margin-right: 0.5rem;
}

.side-menu a {
    text-decoration: none;
    color: white;
}

.log-icon {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    text-align: start;
    color: black;
    padding: 15px;
    font-size: 25px;
    width: 200px;

    a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: capitalize;
        font-size: 25px;
        font-weight: 500;
        color: white;
        text-decoration: none;

        mat-icon {
            font-size: 30px;
            display: table;
            background: red;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            filter: blur(1px);
        }
    }
}