<div class="side-bar">
    <div class="side-itme">
        <mat-nav-list>
            <!-- <mat-divider></mat-divider> -->

            <div class="side-menu">
                <a class="item" href="/index/home"><mat-icon>person</mat-icon>Employee</a>
            </div>
            <!-- <div class="side-menu">
                <a class="item" href="/index/about"><mat-icon>person</mat-icon>about</a>
            </div> -->
            <div class="side-menu">
                <a class="item" href="/index/services"><mat-icon>miscellaneous_services</mat-icon>services</a>
            </div>
            <div class="side-menu">
                <a class="item" href="/index/skill"><mat-icon>code</mat-icon>skills</a>
            </div>
            <div class="side-menu">
                <a class="item" href="/index/candidate"><mat-icon>account_circle</mat-icon>candidate</a>
            </div>
            <div class="side-menu">
                <a class="item" href="/index/designation"><mat-icon>manage_accounts</mat-icon>designation</a>
            </div>
            <div class="side-menu">
                <a class="item" href="/index/holiday"><mat-icon>holiday_village</mat-icon>holiday</a>
            </div>
            <div class="side-menu">
                <a class="item" href="/index/leavetype"><mat-icon>logout</mat-icon>leavetype</a>
            </div>
            <div class="side-menu">
                <a class="item" href="/index/assets"><mat-icon>school</mat-icon>assetsMaster</a>
            </div>
            <div class="side-menu">
                <a class="item" href="/index/project"><mat-icon>psychology</mat-icon>project</a>
            </div>
            <!-- <div class="side-menu">
                <a class="item" href="/index/contact"><mat-icon>call</mat-icon>contact</a>
            </div> -->

        </mat-nav-list>
    </div>

    <div class="log-icon">
       <img src="/src/assets/images/logout-icon.png">
    </div>
</div>