<div class="side-bar">
    <div class="side-itme">
        <mat-nav-list>
            <!-- <mat-divider></mat-divider> -->

            <div class="side-menu">
                <a class="item" href="/index/home"><mat-icon>home</mat-icon>home</a>
            </div>
            <div class="side-menu">
                <a class="item" href="/index/about"><mat-icon>person</mat-icon>about</a>
            </div>
            <div class="side-menu">
                <a class="item" href="/index/services"><mat-icon>info</mat-icon>services</a>
            </div>
            <div class="side-menu">
                <a class="item" href="/index/skill"><mat-icon>code</mat-icon>skills</a>
            </div>
            <div class="side-menu">
                <a class="item" href=""><mat-icon>call</mat-icon>contact</a>
            </div>

        </mat-nav-list>
    </div>

    <div class="log-icon">
       <a href="login"><mat-icon>power_settings_new</mat-icon>logout</a>
    </div>
</div>