* {
    position: sticky;
}

mat-nav-list {
    margin-top: 1rem;
}

mat-divider {
    outline: none;
}

.logo {
    height: 4rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 5px;

    img {
        height: 3.5rem;
        width: 3.5rem;
        align-items: center;
    }
}

.side-menu {
    padding: 1rem;

    &:hover {
        background-color: #a2acf0;
        color: black;
        transition: 2s ease;
    }
}

.item {
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    text-align: center;
    text-decoration: none;

    &:hover {
        transition: 2s ease;
        color: black;
    }
}

mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
    font-size: 25px;
    width: auto;
    height: auto;
}

@media (max-width: 768px) {
    mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
        font-size: 20px;

    }
}