<div class="login-img">
  <form [formGroup]="login" (ngSubmit)="logindata()">
    <p>Login</p>
    <div class="login-form">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input type="email" matInput placeholder="Enter Email" formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput placeholder="Enter password" formControlName="password"
          maxlength="16">
        <button mat-icon-button matPrefix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="login-btn">
        <button mat-flat-button>login</button>
      </div>

      <p class="login-info">Don't have an account? <a href="register">Register</a></p>
    </div>
  </form>
</div>