<div class="login-img">
    <form [formGroup]="login" (ngSubmit)="logindata()">
        <p>Login</p>
        <div class="login-form">

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Enter Your Email" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Enter Your password" formControlName="password">
            </mat-form-field>

            <div class="login-btn">
                <button mat-flat-button>login</button>
            </div>

            <p class="login-info">Don't have an account? <a href="register">Register</a></p>
        </div>
    </form>
</div>