 <div class="login-img">
    <form>
        <p>Login</p>
        <div class="login-form">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input type="text" matInput placeholder="Enter your First Name">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input type="text" matInput placeholder="Enter your Last Name">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>email</mat-label>
                <input type="email" matInput placeholder="Enter your Name">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>password</mat-label>
                <input type="text" matInput placeholder="Enter your Name">
            </mat-form-field>
    
            <div class="login-btn">
                <button>login</button>
            </div>
    
            <p class="login-info">Don't have an account? <a href="register">Register</a></p>
        </div>
    </form>
 </div>

