html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.col-xl-6 {
  padding: 0 !important; // Removes inner space in columns
}


.login-form {
  display: grid;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.img-fluid {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  display: block;
}


.login-form {
  display: grid;
  width: 25rem;
}

p {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 2rem;

}

.login-btn button {
  padding: 10px 20px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #1E72C2, #015BB1);
  text-transform: capitalize;
  font-size: 15px;
  width: 100%;
  border-radius: 2px;
}

.login-btn button:hover {
  transition: 2s ease;
  box-shadow: 0 12px 25px 5px rgba(0, 0, 0, 0.25);
}

.login-info {
  font-size: 15px;
  // padding-top: 1rem;
}


mat-form-field {
  width: auto;
  margin-bottom: 16px;
}

.divider-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  mat-divider {
    flex: 1;
  }

  .divider-text {
    margin: 0 10px;
    font-weight: 500;
    color: gray;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  // margin-top: 20px;

  button {
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    i {
      font-size: 20px;
    }

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      transform: scale(1.1);
    }
  }

  // Individual Icon Colors
  .fa-google {
    color: #db4437;
  }

  .fa-facebook-f {
    color: #3b5998;
  }

  .fa-twitter {
    color: #1da1f2;
  }

  .fa-linkedin-in {
    color: #0077b5;
  }
}