.table-title {
    letter-spacing: 1px;
    // font-size: 25px;
    font-weight: 500;
}

.table-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 15px;
}

.table-btn {
    text-transform: capitalize;
    font-weight: 500;

    button {
        font-size: 16px;
        letter-spacing: 1px;
    }
}

.clock-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0 0 0;
}

// .attendance-cards {
//     display: flex;
//     justify-content: end;
//     gap: 5rem;
//     padding: 3rem 1rem;
// }

.card, .card1 {
    width: 25rem;
    height: 12rem;
}


.selected {
    background: #007bff !important;
    color: white !important;
}



.remote-button {
    button {
        border: none;
        background-image: linear-gradient(90deg, #1E72C2, #015BB1);
        color: white;
        padding: 0.6rem;
        border-radius: 20px;
        font-weight: 600;
    }
}

input {
    border: none;
    width: 10rem;
    outline: none;
    padding: 0.6rem;
    font-size: 1.4rem;
    box-shadow: 2px 2px 11px 1px skyblue;
    background-color: white;
}


// .remote-button {
//     margin-top: 1rem;
// }
