<div class="form">
    <form action="" [formGroup]="bankinfo" (ngSubmit)="submitbankinfo()">

        <p>Bank Information</p>
        <div class="row">
            <div class="col-xl-6">
                <mat-form-field appearance="outline">
                    <mat-label>Bank Name</mat-label>
                    <input type="text" matInput name="bankName" placeholder="Enter Bank Name" formControlName="bankName">
                </mat-form-field>
            </div>

            <div class="col-xl-6">
                <mat-form-field appearance="outline">
                    <mat-label>Account Number</mat-label>
                    <input type="text" matInput name="accountNumber" placeholder="Enter Account Number" formControlName="accountNumber">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6">
                <mat-form-field appearance="outline">
                    <mat-label>Acc Houlder Name</mat-label>
                    <input type="text" matInput name="Acc Houlder Name" placeholder="Acc Houlder Name" formControlName="nameOnAccount"> 
                </mat-form-field>
            </div>

            <div class="col-xl-6">
                <mat-form-field appearance="outline">
                    <mat-label>IFSC Code</mat-label>
                    <input type="text" matInput name="accountType" placeholder="Enter Ifsc Code" formControlName="ifscCode">
                </mat-form-field>
            </div>
        </div>

        <div class="button-btn mt-4" mat-dialog-actions>
            <button mat-flat-button class="edit-btn" style="border-radius: 0;">submit</button>
        </div>

    </form>
</div>