<div class="container-fluid pb-5" >
    <div class="row">
        <div class="col-12 mt-2">
            <h4 style="text-transform: capitalize; padding-left: 3rem;">Employee Profile</h4>
        </div>
    </div>

    <div class="user-profile" class="mt-3">
        <div class="row" style="display: flex; justify-content:space-evenly ;">
            <mat-card class="col-xl-5" style="background-color: white; display: -webkit-box;">
                <mat-card-header>
                    <mat-card-title>Profile Information</mat-card-title>
                    <mat-card-subtitle class="mt-3">
                        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="User Image"
                            class="user-image">
                        <p><strong>Designation:</strong> Software Engineer</p>
                        <p><strong>Department:</strong> IT</p>
                        <p><strong>Location:</strong> Miami</p>
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-header>
                    <mat-card-title>Personal Information</mat-card-title>
                    <mat-card-subtitle class="mt-3">
                        <p><strong>Phone:</strong> +1 5551234567</p>
                        <p><strong>Email:</strong> ethanmitchellexample.com</p>
                        <p><strong>Birthday:</strong> 28 December 1992</p>
                        <p><strong>Address:</strong> 100 Terminal, Fort Lauderdale, Miami 33315</p>
                        <p><strong>Gender:</strong> Male</p>
                        <p><strong>Date of Join:</strong> 05 Jan 2024</p>
                        <p><strong>Employee ID:</strong> MD-0001</p>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>

            <mat-card class="col-xl-6" style="background-color: white;">
                <mat-card-header>
                    <mat-card-title>Emergency Contact</mat-card-title>
                    <mat-card-subtitle class="mt-3">
                        <div class="row Contact">
                            <div class="col-md-6">
                                <h6><strong>Primary Contact</strong></h6>
                                <p><strong>Name:</strong> John Doe</p>
                                <p><strong>Relationship:</strong> Father</p>
                                <p><strong>Phone:</strong> 9876543210</p>
                                <p><strong>Email:</strong> fatherexample.com</p>
                                <p><strong>Address:</strong> 150, New York</p>
                            </div>

                            <div class="col-md-6">
                                <h6><strong>Secondary Contact</strong></h6>
                                <p><strong>Name:</strong> Jane Doe</p>
                                <p><strong>Relationship:</strong> Mother</p>
                                <p><strong>Phone:</strong> 9876543211</p>
                                <p><strong>Email:</strong>motherexample.com</p>
                                <p><strong>Address:</strong> 150, New York</p>
                            </div>
                        </div>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>

        <div class="row" style="display: flex; justify-content:space-evenly ;">
            <mat-card class="col-xl-5 mt-3" style="background-color: white;">
                <mat-card-header>
                    <mat-card-title>Education Qualification</mat-card-title>
                    <mat-card-subtitle class="mt-3">
                        <p><strong>Degree:</strong> Bachelor of Science in Computer Science</p>
                        <p><strong>University:</strong> University of Miami</p>
                        <p><strong>Year of Passing:</strong> 2014</p>
                        <p><strong>Percentage:</strong> 85%</p>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="col-xl-6 mt-3" style="background-color: white;">
                <mat-card-header>
                    <mat-card-title>Experience Details</mat-card-title>
                    <mat-card-subtitle class="mt-3">
                        <p><strong>Company Name:</strong> Tech Solutions</p>
                        <p><strong>Designation:</strong> Software Engineer</p>
                        <p><strong>Duration:</strong> 2014 - 2018</p>
                        <p><strong>Location:</strong> Miami</p>
                        <p><strong>Responsibilities:</strong></p>
                        <ul>
                            <li>Developed web applications using Angular and Node.js.</li>
                            <li>Collaborated with cross-functional teams to deliver high-quality software.</li>
                            <li>Participated in code reviews and provided constructive feedback.</li>
                        </ul>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>

        <div class="row" style="display: flex; justify-content:space-evenly ;">
            <mat-card class="col-xl-4 mt-3" style="background-color: white;">
                <mat-card-header>
                    <mat-card-title>Bank Information</mat-card-title>
                    <mat-card-subtitle class="mt-3">
                        <p><strong>Account Holder Name:</strong> Ethan Mitchell</p>
                        <p><strong>Account Number:</strong> 1234567890</p>
                        <p><strong>Bank Name:</strong> Bank of America</p>
                        <p><strong>IFSC Code:</strong> BOFA0001234</p>
                        <p><strong>Branch:</strong> Miami Branch</p>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>

            <mat-card class="col-xl-3 mt-3" style="background-color: white;">
                <mat-card-header>
                    <mat-card-title>Passport Information</mat-card-title>
                    <mat-card-subtitle class="mt-3">
                        <p><strong>Account Holder Name:</strong> Ethan Mitchell</p>
                        <p><strong>Account Number:</strong> 1234567890</p>
                        <p><strong>Bank Name:</strong> Bank of America</p>
                        <p><strong>IFSC Code:</strong> BOFA0001234</p>
                        <p><strong>Branch:</strong> Miami Branch</p>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>

            <mat-card class="col-xl-4 mt-3" style="background-color: white;">
                <mat-card-header>
                    <mat-card-title>Passport Information</mat-card-title>
                    <mat-card-subtitle class="mt-3">
                        <p><strong>Account Holder Name:</strong> Ethan Mitchell</p>
                        <p><strong>Account Number:</strong> 1234567890</p>
                        <p><strong>Bank Name:</strong> Bank of America</p>
                        <p><strong>IFSC Code:</strong> BOFA0001234</p>
                        <p><strong>Branch:</strong> Miami Branch</p>
                    </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>