.container-fluid {
    background-color: #00000003;
}

mat-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3f51b5;
}

img.user-image {
    height: 7rem;
    border-radius: 50%;
    width: 7rem;
}

.mat-mdc-card-header {
    display: block;

}

mat-card {
    background-color: white;
}

.profile-info {
    display: -webkit-box;
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    .profile-info {
        display: block;
        // text-align: center;
    }

    .contact-info {
        margin-top: 1rem;
    }
}