
.table-title {
    letter-spacing: 1px;
    // font-size: 25px;
    font-weight: 500;
}

.table-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 15px;
}

.table-btn {  
    text-transform: capitalize;
    font-weight: 500;

    button {
        font-size: 16px;
        letter-spacing: 1px;
    }
}