<div class="form">
    <form action="" [formGroup]="Assets" (ngSubmit)="submitdata()">
        @if (isEdit) {
        <p>edit assets </p>
        }@else {
        <p>add assets</p>
        }
        <div class="employee-form">
            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label> Name</mat-label>
                        <input type="text" matInput name="assetsMasterName" placeholder="Enter Your Name"  (keypress)="allowOnlyLetters($event)" (keydown.space)="$event.preventDefault()"
                            formControlName="assetsMasterName">
                    </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>serialNumber</mat-label>
                        <input type="text" matInput name="serialNumber" placeholder="Enter Your SerialNumber"  (keypress)="preventInvalidNumbers($event)" (paste)="preventPaste($event)"
                            formControlName="serialNumber">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>description</mat-label>
                        <input type="text" matInput name="description" placeholder="Enter Your Description"  (keydown.space)="$event.preventDefault()"
                            formControlName="description">
                    </mat-form-field>
                </div>


                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>dateOfPurchase</mat-label>
                        <input matInput [matDatepicker]="picker3" formControlName="dateOfPurchase">
                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>

            </div>

            <!-- <div class="row">
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>updatedBy</mat-label>
                        <input type="text" matInput name="updatedBy" placeholder="Enter Your Permanet Address"
                            formControlName="updatedBy">
                    </mat-form-field>
                </div>
                <div class="col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>createdDate</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="createdDate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>            -->

            <div class="row">
                <mat-checkbox formControlName="isActive">Active</mat-checkbox>
            </div>

            @if(isEdit){
            <div class="button-btn" mat-dialog-actions>
                <button mat-flat-button class="edit-btn"  style="border-radius: 0;">update</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false"  style="border-radius: 0;">cancel</button>
            </div>
            }@else {
            <div class="button-btn">
                <button mat-flat-button class="edit-btn" routerLink="createdDate"  style="border-radius: 0;">add</button>
                <button mat-raised-button class="cancel-btn" mat-dialog-close="false"  style="border-radius: 0;">cancel</button>
            </div>
            }
        </div>
    </form>
</div>